{% extends "rooot.html" %}

{% block title %}
    Password Manager
{% endblock %}

{% block external %}
  {% load static %}
  <script src="{%static '/js/togglemodals.js' %}"></script>
  
{% endblock %}


{% block stuff %} 
<div class="section-box">
  <div class="content topsection">
    <div class="banner100 center">
         
          <div class="hstack textsectiona">

            <div class="lrspace vstack">
                <div class="banner100 center">
                  <div class="vstack lefttext">
                    <br>
                    <label for="id_letters" class="checkcontainer"> Letters
                      <input type="checkbox" checked="checked" name="letters" id="id_letters">
                      <span class="checkmark"></span>
                    </label>
                    <label for="id_punctuation" class="checkcontainer"> Punctuation
                      <input type="checkbox" name="punctuation" id="id_punctuation">
                      <span class="checkmark"></span>
                    </label>
                    <label for="id_digits" class="checkcontainer"> Digits
                      <input type="checkbox" name="digits" id="id_digits">
                      <span class="checkmark"></span>
                    </label>
                    <br>
                    <label for="id_size"> Size</label>
                    <input class="short" type="number" name="size" required="" value="10" id="id_size">
                  </div>
                </div>
                <div class="banner100 center">
                  <div class="hstack">
                    <button class="bubble" onclick="generate()">Generate</button>
                  </div>
                </div>
              <b><hr></b>
              <div class="banner100 center">
                <div class="tooltip">
                  <button onclick="copyFunc('ginputfield', 'gtooltip')" onmouseout="outFunc('gtooltip')">
                    <span class="tooltiptext" id="gtooltip">Copy to clipboard</span>
                    <input class="short" type="text" id="ginputfield" value="{{ generatedpw }}">
                  </button>
                </div>
              </div>
          </div>
          
          <div class="lrspace vstack">
            {% if user %}  
            <div class="banner100 center"> 
              <h1>{{ user.first_name}}  {{ user.last_name}}</h1>
            </div>
            {% endif %}  
            {% if signout %}
              <div class="banner100 center"> 
                <div class="hstack">
                  <button id="addpassword">Add</button>
                  <button id="changepassword">Change</button>
                  <button id="deletepassword">Delete</button>
                </div>
              </div>
              <b><hr></b>
            {% endif %}

            {% if passwords %}
            <table class="centertext">
              <tr>
                <th>Website</th>
                <th>Username</th>
                <th>Password</th>
              </tr>
              {% for password in passwords %}
                <tr>
                  <td>
                    <a target="_blank" rel="noopener noreferrer" href="{{password.websitelink}}">
                      {{ password.website }}
                    </a>
                  </td>
                  <td>
                    <div class="tooltip">
                      <button onclick="copyFunc('{{ password.name }}inputfield', '{{ password.name }}tooltip')" onmouseout="outFunc('{{ password.name }}tooltip')">
                        <span class="tooltiptext" id="{{ password.name }}tooltip">Copy to clipboard</span>
                        <input class="short" type="text" id="{{ password.name }}inputfield" value="{{ password.name }}">
                      </button>
                    </div>
                  </td>
                  <td>
                    <div class="tooltip">
                      <button onclick="copyFunc('{{ password.name }}pinputfield', '{{ password.name }}ptooltip')" onmouseout="outFunc('{{ password.name }}ptooltip')">
                        <span class="tooltiptext" id="{{ password.name }}ptooltip">Copy to clipboard</span>
                        <input class="short" type="text" id="{{ password.name }}pinputfield" value="{{ password.pword }}">
                      </button>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
            </table> 
          </div> 

        </div>
    </div>
  </div>
</div>

<div class="section-box">
  <div class="content topsection">

  </div>
</div>

<div id="signupform" class="modal">
  <div class="content">
    <form action="{% url 'signup' %}" method="post"> 
      {% csrf_token %} 
      <div class="banner100 center">
        <div class="vstack lrspace">
          <h1>
            Sign Up
          </h1>
          <br>
          {{ signupform }}
          <br>
        </div>
      </div>
      <div class="banner100 center">
        <div class="lrspace hstack">
          <a id="signupcancel" >CANCEL</a>
          <button type="submit" class="bubble">SUBMIT</button>
        </div>
      </div>
    </form> 
  </div>
</div>

<div id="signinform" class="modal">
  <div class="content">
    <form action="{% url 'signin' %}" method="post"> 
      {% csrf_token %} 
      <div class="banner100 center">
        <div class="vstack">
          <h1>
            Sign In
          </h1>
          <br>
          {{ signinform }}
          <br>
        </div>
      </div>
      <div class="banner100 center">
        <div class="lrspace hstack">
          <a id="signincancel" >CANCEL</a>
          <a href="{% url 'password_reset' %}">FORGOT PASSWORD</a>
          <button type="submit" class="bubble">SUBMIT</button>
        </div>
      </div>
    </form> 
  </div>
</div>

<div id="passwordform" class="modal">
  <div class="content">
    <form action="{% url 'create' %}" method="post"> 
      {% csrf_token %} 
      <div class="banner100 center">
        <div class="vstack">
          <br>
          {{ passwordform }}
        </div>
      </div>
      <div class="banner100 center">
        <div class="lrspace hstack">
          <a id="addpasswordcancel" >CANCEL</a>
          <button type="submit" class="bubble">SUBMIT</button>
        </div>
      </div>
    </form> 
  </div>
</div>

<div id="changeform" class="modal">
  <div class="content">
    <form action="{% url 'update' %}" method="post"> 
      {% csrf_token %} 
      <div class="banner100 center">
        <div class="vstack">
          <br>
          {{ changeform }}
        </div>
      </div>
      <div class="banner100 center">
        <div class="lrspace hstack">
          <a id="changecancel" >CANCEL</a>
          <button type="submit" class="bubble">SUBMIT</button>
        </div>
      </div>
    </form> 
  </div>
</div>

<div id="deleteform" class="modal">
  <div class="content">
    <form action="{% url 'delete' %}" method="post"> 
      {% csrf_token %} 
      <div class="banner100 center">
        <div class="vstack">
          <br>
          {{ deleteform }}
        </div>
      </div>
      <div class="banner100 center">
        <div class="lrspace hstack">
          <a id="deletecancel" >CANCEL</a>
          <button type="submit" class="bubble">SUBMIT</button>
        </div>
      </div>
    </form> 
  </div>
</div>

<div class="section-box">
  <div class="content topsection">

  </div>
</div>

<script>
  function copyFunc(inputid, tooltipid) {
    var copyText = document.getElementById(inputid);
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");

    var tooltip = document.getElementById(tooltipid);
    tooltip.innerHTML = "Copied";
  }

  function outFunc(tooltipid) {
    var tooltip = document.getElementById(tooltipid);
    tooltip.innerHTML = "Copy to clipboard";
  } 
</script>
<style>
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  </style>

  <script>
    function getRandomIntInclusive(min, max) {
      const randomBuffer = new Uint32Array(1);
      window.crypto.getRandomValues(randomBuffer);
      let randomNumber = randomBuffer[0] / (0xffffffff + 1);
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(randomNumber * (max - min + 1)) + min;
    }
    function generate(){
      let letters = document.getElementById("id_letters").checked;
      let punctuation = document.getElementById("id_punctuation").checked;
      let digits = document.getElementById("id_digits").checked;
      let size = document.getElementById("id_size").value;
      let password = "";
      if (letters || punctuation || digits){
        setnum = 0;
        idletters = idpunctuation = iddigits = 4;
        letterchars = 'aAbBcCdDeEfFgGhHiIjJkKlLmMnNoOpPqQrRsStTuUvVwWxXyYzZ';
        punctuationchars = '!#$%&()*+, -./:;<=>?@[\]^_{|}~';
        digitchars = '0123456789';
        if (letters){
          setnum += 1;
          idletters = setnum - 1;
        }
        if (punctuation){
          setnum += 1;
          idpunctuation = setnum - 1;
        }
        if (digits){
          setnum += 1;
          iddigits = setnum - 1; 
        }
        for (let index = 0; index < size; index++) {
          let setchoice = 0;
          if (setnum > 1){
            setchoice = getRandomIntInclusive(0, setnum-1);
          }
          let char = ""
          if (setchoice == idletters){
            let choice = getRandomIntInclusive(0, letterchars.length-1);
            char = letterchars.charAt(choice);
          }
          if (setchoice == idpunctuation){
            let choice = getRandomIntInclusive(0, punctuationchars.length-1);
            char = punctuationchars.charAt(choice);
          }
          if (setchoice == iddigits){
            let choice = getRandomIntInclusive(0, digitchars.length-1);
            char = digitchars.charAt(choice);
          }
          password += char;
        }
      }
      document.getElementById("ginputfield").value = password;
    }

  </script>

{% endblock %}

