{% extends "root.html" %}

{% block title %}
    Password Manager
{% endblock %}

{% block external %}
  {% load static %}
  <script src="{%static '/js/togglemodals.js' %}"></script>
  
{% endblock %}


{% block stuff %} 
<div class="section-box">
  <div class="content topsection">
    <div class="banner100 center">
         
          <div class="hstack textsectiona">

            <div class="lrspace vstack">
              <form method="post"> 
                {% csrf_token %} 
                <div class="banner100 center">
                  <div class="vstack lefttext">
                    <br>
                    <label for="id_letters" class="checkcontainer"> Letters
                      <input type="checkbox" checked="checked" name="letters" id="id_letters">
                      <span class="checkmark"></span>
                    </label>
                    <label for="id_punctuation" class="checkcontainer"> Punctuation
                      <input type="checkbox" name="punctuation" id="id_punctuation">
                      <span class="checkmark"></span>
                    </label>
                    <label for="id_digits" class="checkcontainer"> Digits
                      <input type="checkbox" name="digits" id="id_digits">
                      <span class="checkmark"></span>
                    </label>
                    <br>
                    <label for="id_size"> Size</label>
                    <input type="number" name="size" required="" value="10" id="id_size">
                  </div>
                </div>
                <div class="banner100 center">
                  <div class="hstack">
                    <button class="bubble" type="submit">Generate</button>
                  </div>
                </div>
              </form>
              {% if generatedpw %}  
              <b><hr></b>
              <div class="banner100 center">
                <div class="tooltip">
                  <button onclick="copyFunc('ginputfield', 'gtooltip')" onmouseout="outFunc('gtooltip')">
                    <span class="tooltiptext" id="gtooltip">Copy to clipboard</span>
                    <input type="text" id="ginputfield" value="{{ generatedpw }}">
                  </button>
                </div>
              </div>
              {% endif %} 
          </div>
          
          <div class="lrspace vstack">
            {% if user %}  
            <div class="banner100 center"> 
              <h1>{{ user.first_name}}  {{ user.last_name}}</h1>
            </div>
            {% endif %}  
            {% if signout %}
              <div class="banner100 center"> 
                <div class="hstack">
                  <button id="addpassword">Add</button>
                  <button id="changepassword">Change</button>
                  <button id="deletepassword">Delete</button>
                </div>
              </div>
              <b><hr></b>
            {% endif %}

            {% if passwords %}
            <table class="centertext">
              <tr>
                <th>Website</th>
                <th>Username</th>
                <th>Password</th>
              </tr>
              {% for password in passwords %}
                <tr>
                  <td>
                    <a target="_blank" rel="noopener noreferrer" href="{{password.websitelink}}">
                      {{ password.website }}
                    </a>
                  </td>
                  <td>
                    <div class="tooltip">
                      <button onclick="copyFunc('{{ password.name }}inputfield', '{{ password.name }}tooltip')" onmouseout="outFunc('{{ password.name }}tooltip')">
                        <span class="tooltiptext" id="{{ password.name }}tooltip">Copy to clipboard</span>
                        <input type="text" id="{{ password.name }}inputfield" value="{{ password.name }}">
                      </button>
                    </div>
                  </td>
                  <td>
                    <div class="tooltip">
                      <button onclick="copyFunc('{{ password.name }}pinputfield', '{{ password.name }}ptooltip')" onmouseout="outFunc('{{ password.name }}ptooltip')">
                        <span class="tooltiptext" id="{{ password.name }}ptooltip">Copy to clipboard</span>
                        <input type="text" id="{{ password.name }}pinputfield" value="{{ password.pword }}">
                      </button>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
            </table> 
          </div> 

        </div>
    </div>
  </div>
</div>

<div class="section-box">
  <div class="content topsection">

  </div>
</div>

<div id="signupform" class="modal">
  <div class="content">
    <form action="{% url 'signup' %}" method="post"> 
      {% csrf_token %} 
      <div class="banner100 center">
        <div class="vstack lrspace">
          <h1>
            Sign Up
          </h1>
          <br>
          {{ signupform }}
          <br>
        </div>
      </div>
      <div class="banner100 center">
        <div class="hstack">
          <a id="signupcancel" >CANCEL</a>
          <button type="submit" class="bubble">SUBMIT</button>
        </div>
      </div>
    </form> 
  </div>
</div>

<div id="signinform" class="modal">
  <div class="content">
    <form action="{% url 'signin' %}" method="post"> 
      {% csrf_token %} 
      <div class="banner100 center">
        <div class="vstack">
          <h1>
            Sign In
          </h1>
          <br>
          {{ signinform }}
          <label for="username">Email:</label>
          <input type="text" name="username" id="username"> 
          <label for="password">Password:</label>
          <input type="password" name="password" id="password">
          <br>
        </div>
      </div>
      <div class="banner100 center">
        <div class="hstack">
          <a id="signincancel" >CANCEL</a>
          <a href="">FORGOT PASSWORD</a>
          <button type="submit" class="bubble">SUBMIT</button>
        </div>
      </div>
    </form> 
  </div>
</div>

<div id="passwordform" class="modal">
  <div class="content">
    <form action="{% url 'create' %}" method="post"> 
      {% csrf_token %} 
      <div class="banner100 center">
        <div class="vstack">
          <br>
          {{ passwordform }}
        </div>
      </div>
      <div class="banner100 center">
        <div class="hstack">
          <a id="addpasswordcancel" >CANCEL</a>
          <button type="submit" class="bubble">SUBMIT</button>
        </div>
      </div>
    </form> 
  </div>
</div>

<div id="changeform" class="modal">
  <div class="content">
    <form action="{% url 'update' %}" method="post"> 
      {% csrf_token %} 
      <div class="banner100 center">
        <div class="vstack">
          <br>
          {{ changeform }}
        </div>
      </div>
      <div class="banner100 center">
        <div class="hstack">
          <a id="changecancel" >CANCEL</a>
          <button type="submit" class="bubble">SUBMIT</button>
        </div>
      </div>
    </form> 
  </div>
</div>

<div id="deleteform" class="modal">
  <div class="content">
    <form action="{% url 'delete' %}" method="post"> 
      {% csrf_token %} 
      <div class="banner100 center">
        <div class="vstack">
          <br>
          {{ deleteform }}
        </div>
      </div>
      <div class="banner100 center">
        <div class="hstack">
          <a id="deletecancel" >CANCEL</a>
          <button type="submit" class="bubble">SUBMIT</button>
        </div>
      </div>
    </form> 
  </div>
</div>

<div class="section-box">
  <div class="content topsection">

  </div>
</div>

<script>
  function copyFunc(inputid, tooltipid) {
    var copyText = document.getElementById(inputid);
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");

    var tooltip = document.getElementById(tooltipid);
    tooltip.innerHTML = "Copied";
  }

  function outFunc(tooltipid) {
    var tooltip = document.getElementById(tooltipid);
    tooltip.innerHTML = "Copy to clipboard";
  } 
</script>
<style>
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  </style>

{% endblock %}


