<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% load static %}
<link rel="stylesheet" href="{%static '/css/root.css' %}">
{% load static %}
<script src="{%static '/js/mobile.js' %}"></script>
{% load static %}
<link rel="apple-touch-icon" sizes="57x57" href="{%static '/favicon/apple-icon-57x57.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="60x60" href="{%static '/favicon/apple-icon-60x60.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="72x72" href="{%static '/favicon/apple-icon-72x72.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="76x76" href="{%static '/favicon/apple-icon-76x76.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="114x114" href="{%static '/favicon/apple-icon-114x114.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="120x120" href="{%static '/favicon/apple-icon-120x120.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="144x144" href="{%static '/favicon/apple-icon-144x144.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="152x152" href="{%static '/favicon/apple-icon-152x152.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="180x180" href="{%static '/favicon/apple-icon-180x180.png' %}">
{% load static %}
<link rel="icon" type="image/png" sizes="192x192"  href="{%static '/favicon/android-icon-192x192.png' %}">
{% load static %}
<link rel="icon" type="image/png" sizes="32x32" href="{%static '/favicon/favicon-32x32.png' %}">
{% load static %}
<link rel="icon" type="image/png" sizes="96x96" href="{%static '/favicon/favicon-96x96.png' %}">
{% load static %}
<link rel="icon" type="image/png" sizes="16x16" href="{%static '/favicon/favicon-16x16.png' %}">
{% load static %}
<link rel="manifest" href="{%static '/favicon/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<title>{% block title %} {% endblock %}</title> 
{% block external %} {% endblock %}
</head>
<body>
<div id="fixedtop">
  <div class="vstack floatleft">
    <a href="{% url 'home' %}">
      {% load static %}
      <img id="navlogo" src="{%static '/images/logo.png' %}" class="floatleft">
    </a>
    <div id="mobilenav">
      <div class="hstack">
        {% if signin %}
        <button id="signinA" class="hoverbutton">SIGN IN</button>
        {% endif %}
        {% if signup %}
        <button id="signupA" class="bubble">SIGN UP FREE</button>
        {% endif %}
        {% if signout %}
        <a href="/signout">SIGN OUT</a>
        {% endif %}
      </div>
    </div>
  </div>
    <div id="navbanner">
      <div class="floatright">
        {% if signin %}
        <button id="signinB" class="hoverbutton">SIGN IN</button>
        {% endif %}
        {% if signup %}
        <button id="signupB" class="bubble">SIGN UP FREE</button>
        {% endif %}
        {% if signout %}
        <a href="/signout">SIGN OUT</a>
        {% endif %}
      </div>
    </div>
    
    <button id="hamburger" class="hoverbutton">
      <i class='fas fa-bars'></i>
    </button>
</div>

<div class="section-box">
  <div class="content topsection">
   
    {% block stuff %} {% endblock %}
   
  </div>
</div>

<footer class="center">
    <div class="vstack">
      <div> <br> </div>
      <div class="centertext"> Created By Christopher G Liu</div>
      <div> <br> </div>
    </div>
</footer>
</body>
</html>