<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% load static %}
<link rel="stylesheet" href="{%static '/css/root.css' %}">
{% load static %}
<script src="{%static '/js/mobile.js' %}"></script>
{% load static %}
<link rel="apple-touch-icon" sizes="57x57" href="{%static '/favicon/apple-icon-57x57.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="60x60" href="{%static '/favicon/apple-icon-60x60.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="72x72" href="{%static '/favicon/apple-icon-72x72.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="76x76" href="{%static '/favicon/apple-icon-76x76.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="114x114" href="{%static '/favicon/apple-icon-114x114.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="120x120" href="{%static '/favicon/apple-icon-120x120.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="144x144" href="{%static '/favicon/apple-icon-144x144.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="152x152" href="{%static '/favicon/apple-icon-152x152.png' %}">
{% load static %}
<link rel="apple-touch-icon" sizes="180x180" href="{%static '/favicon/apple-icon-180x180.png' %}">
{% load static %}
<link rel="icon" type="image/png" sizes="192x192"  href="{%static '/favicon/android-icon-192x192.png' %}">
{% load static %}
<link rel="icon" type="image/png" sizes="32x32" href="{%static '/favicon/favicon-32x32.png' %}">
{% load static %}
<link rel="icon" type="image/png" sizes="96x96" href="{%static '/favicon/favicon-96x96.png' %}">
{% load static %}
<link rel="icon" type="image/png" sizes="16x16" href="{%static '/favicon/favicon-16x16.png' %}">
{% load static %}
<link rel="manifest" href="{%static '/favicon/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<title>{% block title %} {% endblock %}</title> 
{% block external %} {% endblock %}
</head>
<body>
<div id="fixedtop">
  <div class="vstack floatleft">
    <a href="{% url 'home' %}">
      {% load static %}
      <img id="logolight" class="navlogo floatleft" src="{%static '/images/logo.png' %}">
      <img id="logodark" class="navlogo floatleft hidden" src="{%static '/images/logo2.png' %}">
    </a>
    <div id="mobilenav">
      <div class="hstack">
        {% if signin %}
        <button id="signinA" class="hoverbutton">SIGN IN</button>
        {% endif %}
        {% if signup %}
        <button id="signupA" class="bubble">SIGN UP FREE</button>
        {% endif %}
        {% if signout %}
        <a href="/signout">SIGN OUT</a>
        {% endif %}
      </div>
    </div>
  </div>
    <div id="navbanner">
      <div class="floatright">
        {% if signin %}
        <button id="signinB" class="hoverbutton">SIGN IN</button>
        {% endif %}
        {% if signup %}
        <button id="signupB" class="bubble">SIGN UP FREE</button>
        {% endif %}
        {% if signout %}
        <a href="/signout">SIGN OUT</a>
        {% endif %}
      </div>
    </div>
    
    <button id="hamburger" class="hoverbutton">
        <i class='fas fa-bars'></i>
    </button>
</div>

<div class="section-box">
  <div class="content topsection">
   
    {% block stuff %} {% endblock %}
   
  </div>
</div>

<footer class="center">
      <button onclick="darkmode()" class="bubble" style='font-size:24px;'>
        <i class='fas fa-eye' style='font-size:48px;color:white'></i>
        <p class="centertext"> Created By Christopher G Liu</p>
      </button>
</footer>
<script>

function darkit(thing) {
    thing.style.background = "black";
    thing.style.color = "white";
    thing.style.borderColor = "white";
}
function undarkit(thing) {
    thing.style.background = "white";
    thing.style.color = "black";
    thing.style.borderColor = "black";
}

function toggledark(tag) {
    let things = document.getElementsByTagName(tag);
    for (let thing of things) {
      let thingy = thing;
      if (thingy.style.background != "black") {
        darkit(thingy)
      } else {
        undarkit(thingy);
      }
    }
}
function toggledark2(id) {
    let thing = document.getElementById(id);
    if (thing){
      if (thing.style.background != "black") {
        darkit(thing)
      } else {
        undarkit(thing);
      }
    }
}

function darkmode(){
  toggledark("div");
  toggledark2("hamburger");
  logo1 = document.getElementById("logolight")
  logo2 = document.getElementById("logodark")
  if (logo1.style.display != "none") {
    logo1.style.display = "none";
    logo2.style.display = "block";
  } else {
    logo1.style.display = "block";
    logo2.style.display = "none";
  } 

}

</script>
</body>
</html>