<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% load static %}
<link rel="stylesheet" href="{%static '/css/root.css' %}">
{% load static %}
<script src="{%static '/js/mobile.js' %}"></script>

<title>{% block title %} {% endblock %}</title> 
{% block external %} {% endblock %}
</head>
<body>
<div id="fixedtop">
  <div class="vstack floatleft">
    <a href="{% url 'home' %}">
      {% load static %}
      <img id="navlogo" src="{%static '/images/logo.png' %}" class="floatleft">
    </a>
    <div id="mobilenav">
      <div class="hstack">
        {% if signin %}
        <button id="signinA">SIGN IN</button>
        {% endif %}
        {% if signup %}
        <button id="signupA">SIGN UP FREE</button>
        {% endif %}
        {% if signout %}
        <a href="/signout">SIGN OUT</a>
        {% endif %}
      </div>
    </div>
  </div>
    <div id="navbanner">
      <div class="floatright">
        {% if signin %}
        <button id="signinB">SIGN IN</button>
        {% endif %}
        {% if signup %}
        <button id="signupB">SIGN UP FREE</button>
        {% endif %}
        {% if signout %}
        <a href="/signout">SIGN OUT</a>
        {% endif %}
      </div>
    </div>
    
    <button id="hamburger">
      <i class='fas fa-bars'></i>
    </button>
</div>

<div class="section-box">
  <div class="content topsection">
   
    {% block stuff %} {% endblock %}
   
  </div>
</div>

<footer class="center">
    <div class="vstack">
      <div class="hstack">
      </div>
      <div class="centertext"> Created By Christopher G Liu</div>
    </div>
</footer>
</body>
</html>