{% extends "rooot.html" %}

{% block title %}
    Password Manager
{% endblock %}

{% block external %}
{% endblock %}

{% block stuff %} 
<div class="section-box">
    <div class="content topsection">
        <div class="banner100 center">
            <div class="vstack centertext">
                <h1>Change password</h1>
                {% if validlink %}
                    <form method="post">
                      {% csrf_token %}
                      <div class="banner100 center">
                        <div class="vstack lrspace lefttext">
                          <br>
                          {{ form }}
                          <br>
                        </div>
                      </div>
                      <button class="bubble" type="submit">Change password</button>
                    </form>
                {% else %}
                    <h4>
                      The password reset link was invalid, possibly because it has already been used.
                      Please request a new password reset.
                    </h4>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content">
    </div>
    <div class="content">
    </div>
</div>
{% endblock %}