{% extends "rooot.html" %}

{% block title %}
    Password Manager
{% endblock %}

{% block external %}
{% endblock %}

{% block stuff %} 
<div class="section-box">
    <div class="content topsection">
        <div class="banner100 center">
            <div class="vstack centertext">
                <h1>Forgot password</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="banner100 center">
                        <div class="vstack lrspace lefttext">
                          <br>
                          {{ form }}
                          <br>
                        </div>
                    </div>
                    <button class="bubble"  type="submit">SUBMIT</button>
                </form>

            </div>
        </div>
    </div>
    <div class="content">
    </div>
    <div class="content">
    </div>
</div>
{% endblock %}
        
      
