{% extends "root.html" %}

{% block title %}
    Symposium Finance | Password
{% endblock %}

{% block external %}
{% endblock %}

{% block stuff %} 
<div class="section-box">
    <div class="content topsection">
        <div class="banner100 center">
            <div class="vstack centertext">
                <h1>
                    Your password has been set.
                </h1>
                <div class="center">
                    <a class="colorbutton purpleb" href="{% url 'signinPage' %}">SIGN IN</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
    </div>
    <div class="content">
    </div>
</div>
{% endblock %}
        