{% extends "root.html" %}

{% block title %}
    Symposium Finance | Password
{% endblock %}

{% block external %}
{% endblock %}

{% block stuff %} 
<div class="section-box">
    <div class="content topsection">
        <div class="banner100 center">
            <div class="vstack centertext">
                <h1>Forgot password</h1>
                <h4>
                    We've emailed you instructions for setting your password, if an account exists with the email you entered.
                    You should receive them shortly.
                </h4>
                <h4>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </h4>

            </div>
        </div>
    </div>
    <div class="content">
    </div>
    <div class="content">
    </div>
</div>
{% endblock %}
        