* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  overflow: auto;
}

.hstack {
  display: inline-flex;
  flex-direction: row;
}

.vstack {
  display: inline-flex;
  flex-direction: column;
}

.stack {
  display: inline-block;
}

.forground {
  z-index: 2;
}

.midground {
  z-index: 1;
}

.background {
  z-index: 0;
}

.wrapleft {
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.wrapright {
  display: flex;
  flex-wrap: wrap;
  float: right;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* text position */
.lefttext {
  text-align: left;
}

.righttext {
  text-align: right;
}

.centertext {
  text-align: center;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.darktext {
  color: #041626;
}

.lighttext {
  color: #FFFFFF;
}

.section-box {
  position: relative;
  padding: 20px;
  margin-top: -1px;
}

.content {
  max-width: 100vw;
  min-height: 200px;
}

.lrspace {
  margin: 20px;
  padding: 10px;
}

.topsection {
  margin-top: 70px;
}

.banner100 {
  width: 100%;
}

.banner50 {
  width: 50%;
}

.hidden {
  display: none;
}

#fixedtop {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  z-index: 5;
}

#navbanner {
  margin-top: 10px;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  background-color: #FFFFFF;
}

a {
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  color: #041626;
}

a:hover {
  border-bottom: 5px solid #041626;
}

.hoverbutton:hover {
  border-bottom: 5px solid #041626;
}

#navlogo {
  height: 50px;
  width: auto;
  margin: 10px;
  margin-bottom: 20px;
}

footer {
  margin: 0px;
  padding: 30px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background-color: #041626;
  color: #FFFFFF;
  border: 1px solid black;
}

#hamburger {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 40px;
  font-weight: bold;
  border: none;
  padding: 14px 16px;
  margin: 0;
  background-color: #FFFFFF;
  display: none;
}

#hamburger:hover {
  background-color: #041626;
  color: #FFFFFF;
  cursor: pointer;
}

#mobilenav {
  float: left;
  display: none;
  font-size: 20px;
  font-weight: bold;
}
#mobilenav ul {
  list-style: none;
  display: none;
}

h1 {
  font-size: 70px;
  color: #041626;
}

@media only screen and (max-width: 1300px) {
  #hamburger {
    display: block;
  }

  #navbanner {
    display: none;
  }

  h1 {
    font-size: 50px;
  }

  .textsectiona {
    flex-direction: column;
  }

  .textsectionb {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 600px) {
  #navlogo {
    width: 250px;
    height: auto;
  }

  h1 {
    font-size: 30px;
  }

  a {
    font-size: 15px;
  }

  button {
    font-size: 15px;
  }

  footer {
    font-size: 15px;
  }

  .short {
    max-width: 100px;
  }
}
button {
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  color: #041626;
  border: none;
  background: none;
}

.bubble {
  border: 2px solid #041626;
  border-radius: 20px;
  background-color: #041626;
  color: #FFFFFF;
}

.bubble:hover {
  opacity: 0.7;
}

input[type=text], [type=password], [type=email], [type=url], [type=number] {
  padding: 12px;
  border: 2px solid #041626;
  font-size: 20px;
  border-radius: 7px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

label {
  font-size: 20px;
  float: left;
}

.modal {
  display: none;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .content {
  background-color: white;
  border: 2px solid black;
  margin: 5% auto 15% auto;
  width: 90%;
}

/* The container */
.checkcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: lightgray;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
  background-color: gray;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
  background-color: #041626;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*# sourceMappingURL=root.css.map */
