@use 'variables';

input[type=text], [type=password], [type=email], [type=url], [type=number]{
    padding: 12px;
    border: 2px solid variables.$darkblue-color; 
    font-size: 20px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
label{
    font-size: 20px; 
    float: left;
}
