@use 'variables';

#hamburger{
    position: fixed;
    top: 0;
    right: 0;
    font-size: 40px;
    font-weight: bold;
    border: none;
    padding: 14px 16px;
    margin: 0;
    background-color: variables.$white-color;
    display: none;
}
#hamburger:hover{
    background-color: variables.$darkblue-color; 
    color: variables.$white-color;
    cursor: pointer;
}
#mobilenav{
    float: left;
    display: none;
    ul{
        list-style: none;
        display: none;
    }
    font-size:20px;
    font-weight: bold;
}

h1{
    font-size: 70px;
    color: #041626;
}
@media only screen and (max-width: 1300px) {
    #hamburger{
        display: block;
    }
    #navbanner{
        display: none; 
    }
    h1{
        font-size: 50px;
    }
    .textsectiona{
        flex-direction: column;
    }
    .textsectionb{
        flex-direction: column-reverse;
    }
 }
 @media only screen and (max-width: 600px){
    .navlogo{
        width: 250px;
        height: auto;
    } 
    h1{
        font-size: 30px;
    }
    a {
        font-size: 15px
    }
    button {
        font-size: 15px 
    }
    footer {
        font-size: 15px 
    }
    .short{
        max-width: 100px;
    }
 }