$darkblue-color: #041626;
$white-color: #FFFFFF;
$black-color: #000000;
$highlightred-color: #EA4C73;
$highlightgreen-color: #82D5C3;
$highlightpurple-color: #6270DC;
$fonts: Arial, Helvetica, sans-serif;
